/* body {
    background-color: #121212;
} */

.keyboard_body {
    display: inline-block;
    text-align: center;
    align-self: center;
    width: auto;
    /* border: 2px solid #555; */
}

/* layer_select {} */

.keyboard_row {
    /* display: flex; */
    width: 100%;
    display: inline-block;
    /* border: 2px solid #555; */
    text-align: center;
}

.keyboard_row_split_left {
    width: 40%;
    display: inline-block;
    padding-right: 5%;
    /* border: 2px solid #555; */
    text-align: right;
}

.keyboard_row_split_right {
    width: 40%;
    padding-left: 5%;
    display: inline-block;
    /* border: 2px solid #555; */
    text-align: left;
}

.key_img {
    /* scale: 0.1;   */
    padding: 0%;
    /* border: 5px solid #555; */
    margin: 0;
    width: 100px;

    /* background-color: red; */
    /* animation-name: example; */
    /* animation-duration: 4s; */
}

/* .key:hover {
    animation-name: example;
    animation-duration: 4s;

} */

.key_container {
    position: relative;
    text-align: center;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    /* border: 2px solid #555; */

}

.primary_key {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: medium;
}

.primary_only_key {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
}

.secondary_key {
    margin: 0;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: medium;
}

/* @keyframes example {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
} */